<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <style>
        body{
            text-align: center;
            background-color: #afa;
        }
    </style>
</head>
<body>
    <h1>ToDo</h1>
    <h2>歡迎回來</h2>
    <h3>{{ .content }}</h3>
    <form action="/todoAdd" method="POST">
        <input type="text" name="content">
        <input type="submit" value="新增">
    </form>
    <h4>{{ .todo }}</h4>
</body>
</html>