<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>據點資訊系統</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>據點資訊系統</h1>
    <h2>登入頁面</h2>
    <form action="/auth" method="POST">
        Account <input type="text" name="userName"><br>
        Password <input type="password" name="password" id=""><br>
        <input type="submit" value="登入">
    </form>
</body>
</html>